@import "tailwindcss";

@theme {
    --color-evolve-dark: #222222;
    --color-evolve-nude: #E8D5C4;
    --color-evolve-accent: #C5A065;
    --color-evolve-gray: #F9F9F9;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: white;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Animaciones */
@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes slowZoom {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}

.animate-slow-zoom {
    animation: slowZoom 20s infinite alternate;
}